# Naive Bayes

#### Load the packages and import the data

In [1]:
import pandas as pd
import numpy as np

data = pd.read_csv("./Data Files/Social_Network_Ads.csv")
data.head()

    User ID  Gender   Age  EstimatedSalary  Purchased
0  15624510    Male  19.0          19000.0          0
1  15810944    Male  35.0          20000.0          0
2  15668575  Female  26.0          43000.0          0
3  15603246  Female  27.0          57000.0          0
4  15804002    Male  19.0          76000.0          0

In [2]:
data.columns

Index(['User ID', 'Gender', 'Age', 'EstimatedSalary', 'Purchased'], dtype='object')

#### Create X and y

In [3]:
X = data[['Gender', 'Age', 'EstimatedSalary']]
y = data["Purchased"]

#### Create dummy variable for Gender variable

In [4]:
X_dummies = pd.get_dummies(X["Gender"], drop_first = True)
X = pd.concat([X, X_dummies], axis = 1)
X = X.drop(["Gender"], axis = 1)

#### Split the data into a train_set and test_set

In [5]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 1111)

#### Fit the Naive Bayes Model

In [6]:
from sklearn.naive_bayes import GaussianNB
nb_model = GaussianNB()
nb_model.fit(X_train, y_train)

GaussianNB(priors=None)

#### Predict Naive Bayes model on Test Set

In [7]:
y_pred = nb_model.predict(X_test)
pred_summary = X_test.copy()
pred_summary[y.name] = y_test
pred_summary["y_pred"] = y_pred
pred_summary.head()

      Age  EstimatedSalary  Male  Purchased  y_pred
83   35.0          88000.0     1          0       0
113  37.0          55000.0     1          0       0
65   24.0          58000.0     1          0       0
127  26.0          32000.0     1          0       0
1    35.0          20000.0     1          0       0

#### Evaluate the Naive Bayes Model

In [8]:
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report

print("Naive Bayes Model", "\n")
print(pd.DataFrame(confusion_matrix(y_test, y_pred)), 
      "      Accuracy:", round(accuracy_score(y_test, y_pred), 3), 
      "\n")
print(classification_report(y_test, y_pred))

Naive Bayes Model

    0   1
0  72   7
1   7  34       Accuracy: 0.883

             precision    recall  f1-score   support

          0       0.91      0.91      0.91        79
          1       0.83      0.83      0.83        41

avg / total       0.88      0.88      0.88       120